In [27]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

In [28]:
#importing chromedriver
driver = webdriver.Chrome(r'C:\Users\SALMA\Downloads\chromedriver_win32\chromedriver.exe')

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2) #wait for 2 m.s.

Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

for i in range(1,31): #We have 30 rows, running the loop from 1 to 31
    Rank_tags=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr["+str(i)+"]/td[1]") #Rank
    Rank.append(Rank_tags.text) #Appending Rank
    Name_tags=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr["+str(i)+"]/td[2]") #Name
    Name.append(Name_tags.text[1:-5]) #Taking only Song Name
    Artist_tags=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr["+str(i)+"]/td[3]") #Artist
    Artist.append(Artist_tags.text) #Artist Name
    Views_tags=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr["+str(i)+"]/td[4]") #Upload_date
    Views.append(Views_tags.text) #Number of views in billions
    Upload_date_tags=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr["+str(i)+"]/td[5]") #Views
    Upload_date.append(Upload_date_tags.text) #Upload Date
    
Most_viewed_video=pd.DataFrame({}) #DataFrame
Most_viewed_video["RANK"]= Rank
Most_viewed_video["NAME"]= Name
Most_viewed_video["ARTIST"]= Artist
Most_viewed_video["UPLOAD DATE"]= Upload_date
Most_viewed_video["Views (billions)"]= Views
Most_viewed_video

,RANK,NAME,ARTIST,UPLOAD DATE,Views (billions)
0,1.,Baby Shark Danc,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.23
1,2.,Despacit,Luis Fonsi,"January 12, 2017",7.75
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.18
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.62
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.42
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.01
6,7.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.56
7,8.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.48
8,9.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.48
9,10.,Uptown Funk,Mark Ronson,"November 19, 2014",4.47
10,11.,Gangnam Style,Psy,"July 15, 2012",4.35
11,12.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.86
12,13.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.70
13,14.,Sugar,Maroon 5,"January 14, 2015",3.65
14,15.,Roar,Katy Perry,"September 5, 2013",3.53
15,16.,Sorry,Justin Bieber,"October 22, 2015",3.51
16,17.,Counting Stars,OneRepublic,"May 31, 2013",3.51
17,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.41
18,19.,Girls Like You,Maroon 5,"May 31, 2018",3.24
19,20.,Axel F,Crazy Frog,"June 16, 2009",3.24
20,21.,Faded,Alan Walker,"December 3, 2015",3.23
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.23
22,23.,Let Her Go,Passenger,"July 25, 2012",3.18
23,24.,Bailando,Enrique Iglesias,"April 11, 2014",3.17
24,25.,Lean On,Major Lazer,"March 22, 2015",3.17
25,26.,Shake It Off,Taylor Swift,"August 18, 2014",3.15
26,27.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.14
27,28.,Perfect,Ed Sheeran,"November 9, 2017",3.10
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.06
29,30.,Mi Gente,J Balvin,"June 29, 2017",3.04

2.Scrape the details team India’s international fixtures from bcci.tv.

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [11]:
url = 'https://www.bcci.tv/' #getting the required url
driver.get(url)

time.sleep(2) #wait for 2 m.s.

fixtures=driver.find_element_by_xpath("//div[@class='collapse navbar-collapse']/ul/li[2]/a") #Locating to International Fixtures
driver.get(fixtures.get_attribute('href')) #Opening International Fixtuers page
time.sleep(4) #wait for 2 m.s.

Match_title = []
Series = []
Place = []
Date = []
Time = []

title=driver.find_elements_by_xpath("//div[@class='fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope']/div/div[1]/h5[2]/span") #Title of the Seriers
for i in title:
    Series.append(i.text)
    
name=driver.find_elements_by_xpath("//div[@class='fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope']/div/div[1]/h5[2]/span") #Match Title
for i in name:
    Match_title.append(i.text)

    
loc=driver.find_elements_by_xpath("//div[@class='fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope']/div/div[4]/div") #Location
for i in loc:
    Place.append(i.text)

    
#t2=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]") #Month
#dat = len(dt1)
#for i in range(0,dat):
#    Date.append(dt1[i].text+" "+dt2[i].text) #adding Day and Month to form Date
    
dt=driver.find_elements_by_xpath("//div[@class='fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope']/div/div[1]/div/div[1]/h5") #Time
for i in dt:
    Date.append(i.text)

    
tim=driver.find_elements_by_xpath("//div[@class='fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope']/div/div[1]/div/div[2]/h5") #Time
for i in tim:
    Time.append(i.text)
    
Fixtures=pd.DataFrame({}) #DataFrame
Fixtures['Match title'] = Match_title
Fixtures['Series'] = Series
Fixtures['Place'] = Place
Fixtures['Date'] = Date
Fixtures['Time'] = Time
Fixtures

,Match title,Series,Place,Date,Time
0,SRI LANKA TOUR OF INDIA TEST SERIES 2022,SRI LANKA TOUR OF INDIA TEST SERIES 2022,1st Test - Punjab Cricket Association IS Bindr...,4 MAR 2022,9:30 AM IST
1,ICC WOMENS WORLD CUP 2022,ICC WOMENS WORLD CUP 2022,"Bay Oval, Mount Maunganui",6 MAR 2022,6:30 AM IST
2,ICC WOMENS WORLD CUP 2022,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",10 MAR 2022,6:30 AM IST
3,ICC WOMENS WORLD CUP 2022,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",12 MAR 2022,6:30 AM IST
4,SRI LANKA TOUR OF INDIA TEST SERIES 2022,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"2nd Test - M Chinnaswamy Stadium, Bengaluru",12 MAR 2022,2:30 PM IST
5,ICC WOMENS WORLD CUP 2022,ICC WOMENS WORLD CUP 2022,"Bay Oval, Mount Maunganui",16 MAR 2022,6:30 AM IST
6,ICC WOMENS WORLD CUP 2022,ICC WOMENS WORLD CUP 2022,"Eden Park, Auckland",19 MAR 2022,6:30 AM IST
7,ICC WOMENS WORLD CUP 2022,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",22 MAR 2022,6:30 AM IST

3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through cod

In [20]:
url = 'https://www.guru99.com/' #getting the required url
driver.get(url)

time.sleep(2) #wait for 2 m.s.

text1 = driver.find_element_by_xpath("//div[@class='row featured-boxes']/div[1]/div/ul[1]/li[3]/a") #Looking for Selenium
#text2 = driver.find_elements_by_xpath("//li[@class='width:100%;']/a") #Looking for Hyperlink
#leng = len(text1)
#for i in range(0,leng):
#    if(text1[i].text == "Selenium"): #If selenium found open the link and break the loop
driver.get(text1.get_attribute('href'))
#driver.get(url)
time.sleep(4)

link1 = driver.find_elements_by_xpath("//table[@class='table'][5]/tbody/tr/td[2]") #Looking for Selenium Exception Handling
link2 = driver.find_elements_by_xpath("//table[@class='table'][5]/tbody/tr/td[1]/a") #Looking for Hyperlink
leng = len(link1)
for i in range(0,leng): #If found Exception Handling than open the link and break the loop
    if(link1[i].text == "Selenium Exception Handling (Common Exceptions List)"):
        url = link2[i].get_attribute('href')
        break
driver.get(url)
time.sleep(4)

Name = []
Desc = []
for i in range(2,43):
    link1 = driver.find_element_by_xpath("//table[@class='table table-striped']/tbody/tr["+str(i)+"]/td[1]") #Exception Name
    link2 = driver.find_element_by_xpath("//table[@class='table table-striped']/tbody/tr["+str(i)+"]/td[2]") #Description
    Name.append(link1.text)
    Desc.append(link2.text)
    
Exceptions=pd.DataFrame({}) #DataFrame
Exceptions['Exception name'] = Name
Exceptions['Description'] = Desc
Exceptions

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [13]:
url = 'http://statisticstimes.com/' #getting the required url
driver.get(url)

time.sleep(2) #wait for 2 m.s.

India=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]") #Looking for India
driver.get(India.get_attribute('href')) #Opening the hyperlink of India
time.sleep(2) #wait for 2 m.s.

State=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a") #Looking for GDP of Indian States
driver.get(State.get_attribute('href')) #Opening the hyperlink of GDP of Indian States
time.sleep(2) #wait for 2 m.s.

Rank = []
State = []
GSDP19_20 = []
GSDP18_19 = []
Share_2018 = []
GDP_billion = []
for i in range(1,34): #33 States so running the loop for 1 to 34
    link1 = driver.find_element_by_xpath("//table[@id='table_id']/tbody/tr["+str(i)+"]/td[1]") #Rank
    link2 = driver.find_element_by_xpath("//table[@id='table_id']/tbody/tr["+str(i)+"]/td[2]") #State
    link3 = driver.find_element_by_xpath("//table[@id='table_id']/tbody/tr["+str(i)+"]/td[3]") #GSDP19_20
    link4 = driver.find_element_by_xpath("//table[@id='table_id']/tbody/tr["+str(i)+"]/td[4]") #GSDP18_19
    link5 = driver.find_element_by_xpath("//table[@id='table_id']/tbody/tr["+str(i)+"]/td[5]") #Share_2018
    link6 = driver.find_element_by_xpath("//table[@id='table_id']/tbody/tr["+str(i)+"]/td[6]") #GDP_billion
    Rank.append(link1.text)
    State.append(link2.text)
    GSDP19_20.append(link3.text)
    GSDP18_19.append(link4.text)
    Share_2018.append(link5.text)
    GDP_billion.append(link6.text)
    
GSDP=pd.DataFrame({}) #DataFrame
GSDP['Rank'] = Rank
GSDP['State'] = State
GSDP['GSDP(19-20)'] = GSDP19_20
GSDP['SDP(18-19)'] = GSDP18_19
GSDP['Share(2018)'] = Share_2018
GSDP['GDP($ billion)'] = GDP_billion
GSDP

,Rank,State,GSDP(19-20),SDP(18-19),Share(2018),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [14]:
url = 'https://github.com/' #getting the required url
driver.get(url)

time.sleep(2) #wait for 2 m.s.

Trending=driver.find_element_by_xpath("//a[@href='/trending']") #Looking for Trending
driver.get(Trending.get_attribute('href')) #Open Trending page
time.sleep(2) #wait for 2 m.s.

Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []
for i in range(1,26): #25 repository are trending so running the loop for 1 to 26
    link1 = driver.find_element_by_xpath("//article[@class='Box-row']["+str(i)+"]/h1/a") #Repository Title
    Repository_title.append(link1.text)
    try:
        link2 = driver.find_element_by_xpath("//article[@class='Box-row']["+str(i)+"]/p") #Repository Description
        Repository_description.append(link2.text)
    except NoSuchElementException as e:
        Repository_description.append("-") #If Description is not present add "-"
    
urls = []
contr=driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a") #Collecting the URLS of each repository
for i in contr:
    urls.append(i.get_attribute('href')) #Added url in urls field
    
for i in urls:
    driver.get(i) #Open the URL one by one
    time.sleep(2)
    counter = 0
    for i in range(1,6):
        try:
            test = driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div["+str(i)+"]/div/h2/a") #Searching for Contributors
            value = test.text
            if(value.find("Contributors") != -1): #If found than
                con = value.split(" ")            #Split value with space
                Contributors_count.append(con[1]) #Second value will be number of Contributors
            else:
                counter += 1
        except NoSuchElementException as e:
            counter += 1
            pass
    if(counter == 5):
        Contributors_count.append("-")           #If no Contributors for that Repository than add "-"
        
    count = 0
    for i in range(1,7):
        try:
            test = driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div["+str(i)+"]/div/h2") #Searching for Language Used
            value = test.text
            string = ""
            if(value.find("Languages") != -1): #If Language found than
                lang = driver.find_elements_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div["+str(i)+"]/div/ul/li/a/span[1]")
                for i in lang:
                    string = string + i.text + " " #Added all languages one by one
                Language_used.append(string)
            else:
                count += 1
        except NoSuchElementException as e:
            count += 1
            pass
    if(count == 6):
        Language_used.append("-")                 #If no Language found then add "-"
        
Github = pd.DataFrame({}) #DataFrame
Github['Repository Title'] = Repository_title
Github['Repository Description'] = Repository_description
Github['Contributors Count'] = Contributors_count
Github['Language Used'] = Language_used
Github

,Repository Title,Repository Description,Contributors Count,Language Used
0,Anduin2017 / HowToCook,程序员在家做饭方法指南。Programmer's guide about how to co...,116,-
1,commaai / openpilot,openpilot is an open source driver assistance ...,280,Python C++ C Cython MATLAB Shell
2,withfig / autocomplete,Fig adds autocomplete to your terminal.,182,TypeScript
3,doocs / advanced-java,😮 Core Interview Questions & Answers For Exper...,-,-
4,BySergeyDev / NvidiaRTX-LHRv2Unlocker,The first fully automated BIOS modifier for RT...,-,-
5,labuladong / fucking-algorithm,刷算法全靠套路，认准 labuladong 就够了！English version supp...,97,Markdown
6,J0hnbX / RedTeam-Resources,-,3,Python
7,danistefanovic / build-your-own-x,🤓 Build your own (insert technology here),72,-
8,vvmdx / Sec-Interview-4-2023,一个2023届毕业生在毕业前持续更新、收集的安全岗面试题及面试经验分享~,-,-
9,coding-horror / basic-computer-games,"An updated version of the classic ""Basic Compu...",156,C# JavaScript Java Python Perl BASIC
10,zadam / trilium,Build your personal knowledge base with Triliu...,-,-
11,automerge / automerge,A JSON-like data structure (a CRDT) that can b...,57,JavaScript TypeScript
12,danielbeach / data-engineering-practice,Data Engineering Practice Problems,-,Python Dockerfile
13,netdata / netdata,"Real-time performance monitoring, done right! ...",496,C Python JavaScript Shell CSS HTML
14,NVlabs / instant-ngp,Instant neural graphics primitives: lightning ...,10,Cuda C++ Python CMake C Dockerfile
15,rui314 / mold,mold: A Modern Linker,34,C++ Shell
16,iperov / DeepFaceLive,Real-time face swap for PC streaming or video ...,2,Python
17,tiangolo / fastapi,"FastAPI framework, high performance, easy to l...",-,-
18,cat-milk / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,166,-
19,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",415,Haskell TypeScript JavaScript Go Python Shell
20,ant-design / pro-components,🏆 Use Ant Design like a Pro!,421,TypeScript Less JavaScript
21,aquasecurity / cloudsploit,Cloud Security Posture Management (CSPM),63,JavaScript
22,cube0x0 / BofRoast,Beacon Object Files for roasting Active Directory,-,C Python Makefile
23,cosmtrek / air,☁️ Live reload for Go apps,-,-
24,OpenZeppelin / openzeppelin-contracts,OpenZeppelin Contracts is a library for secure...,307,JavaScript Solidity Ruby

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [25]:
url = 'https://www.billboard.com/' #getting the required url
driver.get(url)

time.sleep(2) #wait for 2 m.s.

Hot=driver.find_element_by_xpath("//li[@class='o-nav__list-item '][1]/a") #Getting the URL of HOT 100 songs
driver.get(Hot.get_attribute('href')) #Opening the URL
time.sleep(2) #wait for 2 m.s.

Song_name = []
Artist_name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []
link1 = driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li[1]/h3") #Song_name
for i in link1:
    Song_name.append(i.text)
link2 = driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li[1]/span") #Artist_name
for i in link2:
    Artist_name.append(i.text)
link3 = driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li[4]") #Last week rank
for i in link3:
    Last_week_rank.append(i.text)
link4 = driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li[5]") #Peak Rank
for i in link4:
    Peak_rank.append(i.text)
link5 = driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li[6]") #Weeks on board
for i in link5:
    Weeks_on_board.append(i.text)
    
Songs = pd.DataFrame({}) #DataFrame
Songs['Song name'] = Song_name
Songs['Artist name'] = Artist_name
Songs['Last week rank'] = Last_week_rank
Songs['Peak rank'] = Peak_rank
Songs['Weeks on board'] = Weeks_on_board
Songs

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,8
1,Heat Waves,Glass Animals,4,2,57
2,Easy On Me,Adele,3,1,19
3,abcdefu,GAYLE,7,4,13
4,Stay,The Kid LAROI & Justin Bieber,5,1,32
...,...,...,...,...,...
95,All Too Well (Taylor's Version),Taylor Swift,84,1,14
96,Come Back As A Country Boy,Blake Shelton,89,85,5
97,Iffy,Chris Brown,96,71,5
98,Home Sweet,Russell Dickerson,94,88,5
99,Too Easy,Gunna & Future,92,16,16

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through cod

In [29]:
url = 'https://www.naukri.com/naukri-dot-com-recruiters' #getting the required url
driver.get(url)

time.sleep(2) #wait for 2 m.s.

#time.sleep(2) #wait for 2 m.s.

search_job = driver.find_element_by_xpath("//input[@class='sugInp']") #search bar
search_job.send_keys("Data science") #Adding "Data science" in search bar

search_btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']") #submit button
search_btn.click() #submitting the input
time.sleep(2) #wait for 2 m.s.

Name = []
Designation = []
Company = []
Skills_they_hire_for = []
Location = []
for i in range(1,26): # 50 Recruiter are there in pair of 2 so we'll run the loop from 1 to 26
    link1 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/a[1]/span") #Name
    Name.append(link1.text)
    link2 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/a[1]/span") #Name
    Name.append(link2.text)
    link1 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/span[1]") #Designation
    Designation.append(link1.text)
    link2 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/span[1]") #Designation
    Designation.append(link2.text)
    link1 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/a[2]") #Company
    Company.append(link1.text)
    link2 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/a[2]") #Company
    Company.append(link2.text)
    try:
        link1 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/span[2]/small") #Location
        Location.append(link1.text)
    except NoSuchElementException as e:
        Location.append("-") #If not found add "-"
    try:
        link2 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/span[2]/small") #Location
        Location.append(link2.text)
    except NoSuchElementException as e:
        Location.append("-") #If not found add "-"
    link1 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div[2]") #Skills
    Skills_they_hire_for.append(link1.text)
    link2 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div[2]") #Skills
    Skills_they_hire_for.append(link2.text)
    
Naukri = pd.DataFrame({}) #DataFrame
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Skills they hire for'] = Skills_they_hire_for
Naukri['Location'] = Location
Naukri

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
8,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
11,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
12,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
13,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Manjunathan D,IT Recruiter,SFJ Business Solutions Pvt Ltd,"Java, C#, Aws, Cloud, Odi, Automation, Seleniu...",Bengaluru / Bangalore
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
48,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [23]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare' #getting the required url
driver.get(url)

time.sleep(2) #wait for 2 m.s.

Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []
for i in range(1,101): #100 books are available, So we'll run the loop from 1 to 101
    link1 = driver.find_element_by_xpath("//tbody/tr["+str(i)+"]/td[2]") #Book_name
    Book_name.append(link1.text)
    link2 = driver.find_element_by_xpath("//tbody/tr["+str(i)+"]/td[3]") #Author_name
    Author_name.append(link2.text)
    link3 = driver.find_element_by_xpath("//tbody/tr["+str(i)+"]/td[4]") #Volumes_sold
    Volumes_sold.append(link3.text)
    link4 = driver.find_element_by_xpath("//tbody/tr["+str(i)+"]/td[5]") #Publisher
    Publisher.append(link4.text)
    link5 = driver.find_element_by_xpath("//tbody/tr["+str(i)+"]/td[6]") #Genre
    Genre.append(link5.text)
    
Book = pd.DataFrame({}) #DataFrame
Book['Book name'] = Book_name
Book['Author name'] = Author_name
Book['Volumes sold'] = Volumes_sold
Book['Publisher'] = Publisher
Book['Genre'] = Genre
Book

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [25]:
url = 'https://www.imdb.com/list/ls095964455/' #getting the required url
driver.get(url)

time.sleep(2) #wait for 2 m.s.

Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []
for i in range(1,101): #100 shows are available, running the loop from 1 to 101
    link1 = driver.find_element_by_xpath("//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/h3/a") #Name
    Name.append(link1.text)
    link2 = driver.find_element_by_xpath("//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/h3/span[2]") #Year_span
    Year_span.append(link2.text)
    link3 = driver.find_element_by_xpath("//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/p[1]/span[5]") #Genre
    Genre.append(link3.text)
    link4 = driver.find_element_by_xpath("//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/p[1]/span[3]") #Run_time
    Run_time.append(link4.text)
    link5 = driver.find_element_by_xpath("//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/div[1]/div/span[2]") #Ratings
    Ratings.append(link5.text)
    link6 = driver.find_element_by_xpath("//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/p[4]/span[2]") #Votes
    Votes.append(link6.text)
    
Shows = pd.DataFrame({}) #DataFame
Shows['Name'] = Name
Shows['Year span'] = Year_span
Shows['Genre'] = Genre
Shows['Run time'] = Run_time
Shows['Ratings'] = Ratings
Shows['Votes'] = Votes
Shows

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,955,735"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"965,630"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"931,533"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"278,932"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"239,114"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,774"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,499"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"185,596"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,282"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"221,876"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [26]:
url = 'https://archive.ics.uci.edu/ml/index.php' #getting the required url
driver.get(url)

time.sleep(2) #wait for 2 m.s.

Data=driver.find_element_by_xpath("//td[2]/span[2]/a")
driver.get(Data.get_attribute('href'))
time.sleep(2) #wait for 2 m.s.

Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []
for i in range(2,560): #There are almost 558 records are present, running the loop from 2 to 560, row 1 is header, we don't want it.
    link1 = driver.find_element_by_xpath("//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[1]/table/tbody/tr/td[2]/p/b/a") #Dataset_name
    Dataset_name.append(link1.text)
    link2 = driver.find_element_by_xpath("//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[2]/p") #Data_type
    Data_type.append(link2.text)
    link3 = driver.find_element_by_xpath("//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[3]/p") #Task
    Task.append(link3.text)
    link4 = driver.find_element_by_xpath("//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[4]/p") #Attribute_type
    Attribute_type.append(link4.text)
    link5 = driver.find_element_by_xpath("//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[5]/p") #No_of_instances
    No_of_instances.append(link5.text)
    link6 = driver.find_element_by_xpath("//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[6]/p") #No_of_attribute
    No_of_attribute.append(link6.text)
    link7 = driver.find_element_by_xpath("//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[7]/p") #Year
    Year.append(link7.text)
    
Dataset = pd.DataFrame({}) #DataFrame
Dataset['Dataset name'] = Dataset_name
Dataset['Data type'] = Data_type
Dataset['Task'] = Task
Dataset['Attribute type'] = Attribute_type
Dataset['No of instances'] = No_of_instances
Dataset['No of attribute'] = No_of_attribute
Dataset['Year'] = Year
Dataset

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
553,South German Credit (UPDATE),Multivariate,"Classification, Regression, Clustering","Integer, Real",1000,21,2020
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020